/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Desktop */

body{
    background-color: #0E1014;
    color: #FFFFFF;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    width: 792px;
    margin: 24px auto 0 auto;
}

h1{
    font-size: 64px;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 24px auto;
}

h1 span{
    color: #9747FF;
}

a{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: regular;
    text-align: center;
    background-color: #9747FF;
    display: block;
    width: 340px;
    height: 66px;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media (max-width: 768px) {
 
    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
        margin: 24px auto 0 auto;
    }
}

@media (max-width: 375px) {
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
        height: 66px;       
    }

    section img{
        width: 340px;
        height: 230px;
    }    
}